# 라이브러리

In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
import random
import pingouin as pg

from sklearn.model_selection import train_test_split
from matplotlib.ticker import FuncFormatter
import scipy.stats as stats
from statsmodels.formula.api import ols
import statsmodels.api as sm


# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='NanumGothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# 데이터 불러오기

In [2]:
import pandas as pd
DATA_PATH = './dataset/CARD/'
DATA_PATH_2 = './dataset/CUSTOMER/'
DATA_PATH_3 = './dataset/CC/'

In [6]:
cc_23_40 = pd.read_csv(DATA_PATH_3 + 'cc_23_40.csv', encoding="utf-8-sig")
cc_23_50 = pd.read_csv(DATA_PATH_3 + 'cc_23_50.csv', encoding="utf-8-sig")
cc_23_60 = pd.read_csv(DATA_PATH_3 + 'cc_23_60.csv', encoding="utf-8-sig")

# 데이터 확인

In [7]:
cc_23_40.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  9997288918  202312     기타    서울특별시      중구  5번이하  10000
1  9997288918  202312   대형마트     경상북도     경산시  5번이하  30000
2  9997288918  202312   음식료품     경상남도     김해시  5번이하  30000
3  9997288918  202312    편의점     경상북도     김천시  5번이하  30000
4  9997288918  202312     외식     경상북도     김천시  5번이하  20000

In [8]:
cc_23_50.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수    승인금액
0  9998361242  202312     외식     경상북도     칠곡군  5번이하   30000
1  9998361242  202312     외식     경상북도     구미시  5번이하  110000
2  9998361242  202311     외식     경상북도     구미시  5번이하   40000
3  9998361242  202311   대형마트     경상북도     구미시  5번이하   10000
4  9998361242  202311  의료/보험     경상북도     구미시  5번이하   20000

In [9]:
cc_23_60.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  9999998161  202311   대형마트    대구광역시      중구  5번이하  20000
1  9999998161  202311     외식    대구광역시      중구  5번이하  60000
2  9999998161  202303   대형마트    대구광역시      중구  5번이하  20000
3  9999918728  202310   대형마트    대구광역시      북구  5번이하  40000
4  9999918728  202308   대형마트    대구광역시      북구  5번이하  40000

# EDA