In [3]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
import random

#from ggplot import *
from scipy.stats import logistic
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import *
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
#import graphviz
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.svm import SVC, SVR

# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

In [4]:
DATA_PATH = './dataset/CARD/'
DATA_PATH_2 = './dataset/CUSTOMER/'
card_21 = pd.read_csv(DATA_PATH + 'card_21.csv', encoding="euc-kr")
#card_22 = pd.read_csv(DATA_PATH + 'card_22.csv', encoding="euc-kr")
#card_23 = pd.read_csv(DATA_PATH + 'card_23.csv', encoding="euc-kr")
customer_21 = pd.read_csv(DATA_PATH_2 + 'customer_21.csv', encoding="euc-kr")
#customer_22 = pd.read_csv(DATA_PATH_2 + 'customer_22.csv', encoding="euc-kr")
#customer_23 = pd.read_csv(DATA_PATH_2 + 'customer_23.csv', encoding="euc-kr")

In [5]:
card_21.head(3)

     거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  202112  4080934272   일반한식     경상북도     경주시  5번이하  20000
1  202112  4116127380   일반한식     경상북도     경주시  5번이하  20000
2  202112  2914424833   일반한식     경상북도     경주시  5번이하  20000

In [6]:
card_21['가맹점업종명'].value_counts()

가맹점업종명
일반한식        8751749
인터넷P/G      5622089
슈퍼마켓        5174522
편 의 점       5103418
서양음식        4763634
             ...
전자상거래상품권       1034
상품권전문판매         369
맞춤복점            347
부동산중개·임대        344
냉열기기            227
Name: count, Length: 205, dtype: int64

In [7]:
customer_21.head(3)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0

In [8]:
customer_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20835992 entries, 0 to 20835991
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   기준년월      int64
 1   고객ID      int64
 2   연령대       object
 3   성별        object
 4   고객등급      object
 5   자택_시도     object
 6   자택_시군구    object
 7   수신_요구불예금  int64
 8   수신_거치식예금  int64
 9   수신_적립식예금  int64
 10  수신_펀드     int64
 11  수신_외화예금   int64
 12  대출금액      int64
dtypes: int64(8), object(5)
memory usage: 2.0+ GB

In [9]:
#card_customer_21= pd.merge(card_21, customer_21, on='고객ID', how='inner')
#card_customer_21

for col in card_21.select_dtypes(include=['int64', 'float64']).columns:
    if 'int' in str(card_21[col].dtype):
        card_21[col] = card_21[col].astype('int32')
    elif 'float' in str(card_21[col].dtype):
        card_21[col] = card_21[col].astype('float32')

for col in customer_21.select_dtypes(include=['int64', 'float64']).columns:
    if 'int' in str(customer_21[col].dtype):
        customer_21[col] = customer_21[col].astype('int32')
    elif 'float' in str(customer_21[col].dtype):
        customer_21[col] = customer_21[col].astype('float32')

In [10]:
card_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60672642 entries, 0 to 60672641
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   거래년월      int64
 1   고객ID      int64
 2   가맹점업종명    object
 3   가맹점_광역시도  object
 4   가맹점_시군구   object
 5   승인건수      object
 6   승인금액      int64
dtypes: int64(3), object(4)
memory usage: 3.2+ GB

In [11]:
customer_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20835992 entries, 0 to 20835991
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   기준년월      int64
 1   고객ID      int64
 2   연령대       object
 3   성별        object
 4   고객등급      object
 5   자택_시도     object
 6   자택_시군구    object
 7   수신_요구불예금  int64
 8   수신_거치식예금  int64
 9   수신_적립식예금  int64
 10  수신_펀드     int64
 11  수신_외화예금   int64
 12  대출금액      int64
dtypes: int64(8), object(5)
memory usage: 2.0+ GB

In [12]:
#card_customer_21= pd.merge(card_21, customer_21, on='고객ID', how='inner')
#card_customer_21

In [13]:
card_test_21 = card_21.drop(columns=['가맹점_시군구', '거래년월', '가맹점_광역시도'])

In [14]:
card_test_21

                고객ID 가맹점업종명  승인건수   승인금액
0         4080934272   일반한식  5번이하  20000
1         4116127380   일반한식  5번이하  20000
2         2914424833   일반한식  5번이하  20000
3         2950007638   일반한식  5번이하  60000
4         2931907302   일반한식  5번이하  10000
...              ...    ...   ...    ...
60672637  9436485459  일식·회집  5번이하  40000
60672638  4079854553  일식·회집  5번이하  90000
60672639  9986820487  일식·회집  5번이하  10000
60672640  8230823000  일식·회집  5번이하  20000
60672641  4615272306  일식·회집  5번이하  20000

[60672642 rows x 4 columns]

In [15]:
card_test_21.value_counts()

고객ID        가맹점업종명   승인건수  승인금액
5760599316  일반한식     5번이하  10000    369
6475277009  일반한식     5번이하  10000    358
8795472160  일반한식     5번이하  10000    357
6018828029  편 의 점    5번이하  10000    319
6622499413  편 의 점    5번이하  10000    251
                                   ...
9999998161  슈퍼마켓     5번이하  30000      1
            서양음식     5번이하  10000      1
            농·축·수산품  5번이하  30000      1
            내의판매     5번이하  50000      1
            기타잡화     5번이하  10000      1
Name: count, Length: 29584054, dtype: int64

In [ ]:
#card_test_21.to_csv('card_test_21_processed.csv', index=False, encoding='euc-kr')

In [ ]:
#card_test_21.head(3)

In [ ]:
#card_test_21.value_counts()

In [ ]:
#card_test_21.head(3)

In [27]:
customer_21.head(3)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0

In [ ]:
sorted_card_test_21 = card_test_21.sort_values(by=['고객ID', '가맹점업종명'], ascending=[True, True])
sorted_card_test_21.head(10)

In [ ]:
sorted_card_test_21.value_counts()

In [ ]:
filtered_card_test_21 = sorted_card_test_21[sorted_card_test_21['승인건수'] == '5번이상']

In [28]:
customer_21.head(3)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0

In [29]:
customer_test_21 = customer_21.drop(columns=['기준년월', '성별','고객등급', '자택_시도', '자택_시군구', '수신_요구불예금','수신_거치식예금','수신_적립식예금','수신_펀드', '수신_외화예금','대출금액'])
customer_test_21.head(3)

         고객ID    연령대
0  9999998161  60대이상
1  9999997589  60대이상
2  9999991579  60대이상

In [ ]:
card_customer_21= pd.merge(customer_test_21, card_test_21, on='고객ID', how='inner')
card_customer_21

In [ ]:

y=customer_21['default']
X1=pd.get_dummies(data1['credit_history'],drop_first=True)
X=pd.concat([X1,data1['age'],data1['amount']],axis='columns')

tree1=DecisionTreeClassifier(max_depth=3,random_state=0)
result1=tree1.fit(X,y)
result1

In [ ]:
ㅊ